In [60]:
import pandas as pd
import numpy as np
import requests
#import sys
import os
from dotenv import load_dotenv
import matplotlib.pyplot as plt

In [61]:
load_dotenv()

True

In [62]:
class Movie:
    def __init__(self) -> None:        
        self._api_key =  os.getenv("TMDB_API_KEY") # Chave da API
        self._urlsystem = 'PASTA/'
        self.url = f"https://api.themoviedb.org/3/trending/movie/day?language=en-US"
        self.url_genre = "https://api.themoviedb.org/3/genre/movie/list?language=en"
        self.url_people = "https://api.themoviedb.org/3/trending/person/day?language=en-US"

    def extract(self):
        headers = {
             "accept": "application/json",
             "Authorization": f"Bearer {self._api_key}"
        }       
        movies_data = []

        for page in range(1,5):
            url = f"{self.url}?page={page}"
            response = requests.get(self.url, headers=headers)
        
            if response.status_code != 200:
                print(f"Erro na página {page}: {response.status_code}")
                break
        
            data = response.json()
        
            movies_data.extend(data['results']) 
        
        df = pd.DataFrame(movies_data)
        return df

    def extract_genre(self):
        headers = {
             "accept": "application/json",
             "Authorization": f"Bearer {self._api_key}"
        }         
        genre_data = []
        response = requests.get(self.url_genre, headers=headers)

        if response.status_code != 200:
            print(f"Erro na página = {response.status_code}")
        
        genre_data = response.json()['genres']

        df = pd.DataFrame(genre_data)
        return df
    
    def extract_popularity(self):
        headers = {
             "accept": "application/json",
             "Authorization": f"Bearer {self._api_key}"
        }       
        people_data = []

        for page in range(1,5):
            url = f"{self.url}?page={page}"
            response = requests.get(self.url, headers=headers)
        
            if response.status_code != 200:
                print(f"Erro na página {page}: {response.status_code}")
                break
        
            data = response.json()
        
            people_data.extend(data['results']) 
        
        df = pd.DataFrame(people_data)
        df = df[['id', 'title', 'popularity']]
        return df
    
    def intermediate_load_extract(self):
        resultado = self.extract()
        print(resultado.head(2))
        resultado.to_parquet('Movies_sem_tratamento.parquet')
    
    def intermediate_load_genre(self):
        resultado = self.extract_genre()
        print(resultado.head(2))
        resultado.to_parquet('Genres_sem_tratamento.parquet')

    def intermediate_load_popularity(self):
        resultado = self.extract()
        print(resultado.head(2))
        resultado.to_parquet('Popularity_sem_tratamento.parquet')

In [63]:
movie = Movie()
df = movie.extract()
genre_df = movie.extract_genre()
popularity_df = movie.extract_popularity()

In [64]:
len(df)

80

In [65]:
genre_df

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [66]:
popularity_df

         id                  title  popularity
0    698687       Transformers One     438.789
1   1124641             Classified      44.282
2    912649  Venom: The Last Dance    1678.855
3    945961         Alien: Romulus    3904.571
4   1184918         The Wild Robot    6191.489
..      ...                    ...         ...
75   882598                  Smile     264.103
76  1226578               Longlegs     248.634
77   832964                    Lee     158.063
78   335983                  Venom     424.139
79  1032823                   Trap     357.909

[80 rows x 3 columns]

In [67]:
#Load intermediario
movie = Movie()
load = movie.intermediate_load_extract()
load = movie.intermediate_load_genre()
load = movie.intermediate_load_popularity()

                      backdrop_path       id             title  \
0  /m1DkRQbNXjs2RYC0FP4r6mdaLCi.jpg   698687  Transformers One
1  /iMh3foNWXnWToPdsRoF8tCR7yNr.jpg  1124641        Classified

     original_title                                           overview  \
0  Transformers One  The untold origin story of Optimus Prime and M...
1        Classified  Operating alone in the field for more than 20 ...

                        poster_path media_type  adult original_language  \
0  /iRCgqpdVE4wyLQvGYU3ZP7pAtUc.jpg      movie  False                en
1  /o5zHDxx9aGtg0bK9gVghik8ohYb.jpg      movie  False                en

                  genre_ids  popularity release_date  video  vote_average  \
0  [16, 878, 12, 10751, 28]     438.789   2024-09-11  False           7.6
1                  [28, 53]      44.282   2024-09-19  False           6.0

   vote_count
0         180
1           6
   id       name
0  28     Action
1  12  Adventure
                      backdrop_path       id             title  \
0  /m1DkRQbNXjs2RYC0FP4r6mdaLCi.jpg   698687  Transformers One
1  /iMh3foNWXnWToPdsRoF8tCR7yNr.jpg  1124641        Classified

     original_title                                           overview  \
0  Transformers One  The untold origin story of Optimus Prime and M...
1        Classified  Operating alone in the field for more than 20 ...

                        poster_path media_type  adult original_language  \
0  /iRCgqpdVE4wyLQvGYU3ZP7pAtUc.jpg      movie  False                en
1  /o5zHDxx9aGtg0bK9gVghik8ohYb.jpg      movie  False                en

                  genre_ids  popularity release_date  video  vote_average  \
0  [16, 878, 12, 10751, 28]     438.789   2024-09-11  False           7.6
1                  [28, 53]      44.282   2024-09-19  False           6.0

   vote_count
0         180
1           6